.access-hours-container {
  min-width: 30rem;
  width: 100%;
  height: 100%;
  user-select: none;
  position: relative;

  .hours-grid {
    height: auto;
    display: block;
    font-size: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-color: var(--border-color);
    .row {
      line-height: 1.5rem;
      padding: 0;
      width: 100%;
      position: relative;
      display: block;
      margin: 0px;
      padding: 0px;
      border: none;
      & > div {
        color: var(--primary-txtcolor);
        display: table-cell;
        height: inherit;
        line-height: inherit;
        margin: 0px;
      }
      .title {
        width: 7.5rem;
        padding: 0 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-color: var(--border-color);
        &.dow {
          border: solid 1px;
          border-top: none;
          border-color: var(--border-color);
        }
      }
      .data-cell {
        font-size: 80%;
        width: 1.1rem;
        border: solid 1px;
        border-top: none;
        border-left: none;
        border-color: var(--light-border-color);
        &.hour {
          border-top: solid 1px;
          text-align: center;
          border-color: var(--border-color);
        }
        &.allowed {
          background-color: var(--allowed);
        }
        &.denied {
          background-color: transparent;
        }
        &.selected {
          background-color: var(--menu-selected-bgcolor) !important;
        }
      }
    }
  }

  .access-mode {
    display: inline-block;
    width: fit-content;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    label {
      cursor: pointer;
    }
    &.allowed {
      background-color: var(--allowed);
      color: var(--button-txtcolor);
    }
    &.denied {
      background-color: var(--disabled);
      color: var(--button-txtcolor);
    }
  }
}
