.database-dropdown {
  .p-dropdown {
    max-width: calc(100% - 45px);
  }
  .p-button {
    margin-left: -45px;
  }
}

.p-button {
  &.label-component {
    max-width: 80px;
    padding: 5px 10px;
    height: 25px;
    border: 1px solid #279d68;
    &.active {
      background: #c6f1de;
      color: #279d68;
      &:hover {
        background: #c6f1de;
        color: #279d68;
        border: 1px solid #279d68;
      }
    }
    &.inactive {
      background: var(--disabled);
      color: var(--surface-0);
      border: 1px solid var(--disabled);

      &:hover {
        background: var(--disabled);
        color: var(--surface-0);
      }
    }
    .p-button-icon {
      &.p-button-icon-left {
        margin-right: 0;
      }
    }
  }
}
.vui-container {
  height: 350px;
  overflow-y: auto;
  .vui-user-list {
    background: var(--menu-selected-bgcolor);
    padding: 0 30px;
    .p-chips {
      outline: none;
      box-shadow: none;
      .p-chips-multiple-container {
        padding: 20px 0 10px 0;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}
.panel-icons {
  i {
    font-size: 2rem;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.password-hash {
  .p-password-input {
    width: 100%;
  }
}

// ACCESS PROFILES

.access-profiles {
  // .p-tabview.p-component {
  //   height: calc(100% - 3rem);
  // }
  .p-tabview-panels {
    // height: 100%;
  }
  .p-tabview .p-tabview-nav li.p-highlight:first-child .p-tabview-nav-link {
    border-left: 2px solid var(--border-color);
  }
  .p-tabview .p-tabview-nav li:first-child .p-tabview-nav-link {
    border-width: 2px;
  }
  &__text-row {
    line-height: 1rem;
  }
  &__user-column {
    min-width: max-content;
    text-wrap: nowrap;
  }
  &__vPath-column {
    min-width: 8rem;
  }

  .disabled {
    opacity: 0.5;
  }

  .label {
    cursor: pointer;
  }
  .toolbar.separator {
    height: 1.2rem;

    background-color: var(--separator);
    width: 0.05rem;
  }
  &__highlight-outer {
    height: 100%;
    position: relative;
  }
  &__highlight-inner {
    position: absolute;
    width: 0.3rem;
    height: calc(100% + 1rem);
    top: -0.5rem;
    left: -7px;
  }

  .p-tabview {
    .p-tabview-panels {
      overflow: hidden;

      .p-tabview-panel {
        .p-datatable {
          @include respond-to('tablet-h') {
            border-top-right-radius: 0;
          }
        }
      }
    }
  }

  .datatable-header {
    display: flex;
    align-items: center;
    justify-content: between;
    width: 100%;
    padding: 0 !important;
    @include respond-to('tablet-h') {
      flex-direction: column-reverse;
      height: auto !important;
      padding: 0 !important;
    }
    .new-profile-button {
      .thin-plus {
        display: none;
        @include respond-to('tablet-h') {
          display: block;
        }
      }
      @include respond-to('tablet-h') {
        max-width: 3rem;
        .button-text {
          display: none;
        }
      }
    }
    .col {
      @include respond-to('tablet-h') {
        width: -webkit-fill-available;
      }
    }
    .col-title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      // overflow: hidden;
      overflow: hidden;
      flex-wrap: nowrap;
      padding: 0 0 0 0.5rem;
      margin: 0;
      @include respond-to('tablet-h') {
        border-top: 1px solid var(--border-color);
        padding-top: 15px;
        overflow: unset;
      }
    }
    .col-actions {
      width: 100% !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      flex-shrink: 0;
      @include respond-to('tablet-h') {
        width: 564px;
      }
      .spinner {
        display: flex;
        margin: 0;
      }
    }
  }
}

.bc-profiles {
  border: 1px solid var(--border-color);
  border-radius: 0 0.5rem 0 0;
  border-bottom: none;
}

.filter-label {
  @include respond-to('tablet-h') {
    display: none;
  }
}
