.custom-scrollbars {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--secondary-bgcolor);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  ::-webkit-scrollbar-track {
    background: var(--secondary-bgcolor);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track:hover,
  ::-webkit-scrollbar-track:active {
    background: var(--secondary-bgcolor);
  }
}
