.section-top-menu {
  color: var(--secondary-txtcolor);
  .text-underline {
    height: 0.09rem;
    width: 110%;
    margin-top: 0.3rem;
    margin-left: -5%;
    background-color: var(--secondary-txtcolor);
  }
}
