.new-dark-mode {
  /*new*/

  --secondary-bgcolor: var(--new-grey-900);
  --hover-grey-bgcolor: var(--new-grey-800);
  --thinfinity-logo: url('@public/productlogo-white.png');
  --topbar-button-bgcolor: var(--new-thinfinity-400);
  --topbar-button-color: var(--white-500);
  --toolbar-bgcolor: var(--secondary-bgcolor);
  --header-bgcolor: var(--secondary-bgcolor);
  --menu-bgcolor: var(--secondary-bgcolor);
  --primary-bgcolor: var(--new-black-500);
  --menu-selected-color: var(--new-thinfinity-400);
  --menu-selected-bgcolor: var(--new-black-900);
  --button-bgcolor-h: var(--new-thinfinity-400);
  --hover-bgcolor: var(--new-grey-900);
  --special-button: var(--new-thinfinity-600);
  --accordion-bgcolor: var(--new-grey-800);

  /*New heading colors*/
  --h2-color: var(--new-grey-200);
  --h3-color: var(--new-grey-300);
  --h4-color: var(--new-grey-300);

  /*new toolbar button*/
  --new-button-bgcolor: var(--new-grey-700);
  --new-button-bgcolor-h: var(--new-grey-800);
  --new-button-color: var(--new-grey-100);

  /*round button*/
  --round-button-bgcolor: var(--new-grey-700);
  --round-button-bgcolor-h: var(--new-grey-600);
  --round-button-color: var(--new-grey-100);

  /*old*/
  --primary-color: var(--new-thinfinity-400);
  --dark-primary-color: var(--thinfinity-600);
  --light-primary-color: var(--op-thinfinity-100);
  --bg-image: none;
  --secondary-color: var(--light-green-400);
  --tertiary-color: var(--op-orange-400);

  --tertiary-bgcolor: var(--op-gray-800);
  --transaction-toolbar: var(--secondary-bgcolor);
  --unread-notification: var(--tertiary-bgcolor);

  //--dark-mode-entity-bg:#5db4e250;

  --button-bgcolor: var(--primary-color);
  --button-txtcolor: var(--white-500);
  --button-txtcolor-h: var(--white-500);
  --outline-button-color: var(--button-bgcolor);
  --outline-button-bgcolor-h: var(--button-bgcolor-h);
  --outline-button-color-h: var(--button-txtcolor-h);

  /*new switcher variables*/
  --switcher-button: var(--new-grey-600);
  --switcher-button-bgcolor: var(--new-green-500);
  --switcher-button-bgcolor-h: var(--new-grey-700);
  --switcher-button-h: var(--new-green-600);
  --switcher-button-before: var(--white-500);

  --primary-txtcolor: var(--gray-200);
  --heading-color: var(--op-thinfinity-200);

  --link-color: var(--op-thinfinity-200);
  --link-color-h: var(--light-primary-color);

  --input-bgcolor: var(--op-gray-900);
  --input-txtcolor: var(--gray-200);

  --border-color: var(--gray-700);
  --light-border-color: var(--gray-600);
  --lighten-border-color: var(--op-gray-700);
  --separator: var(--gray-500);

  --disabled: var(--gray-500);
  --danger: var(--op-red-300);

  //Analytics
  --dark-mode-sessions-color: var(--allowed);
  --dark-mode-connections-color: var(--primary-color);
  --dark-mode-border-color: var(--separator);
  --dark-mode-grid-color: var(--hover-bgcolor);
  --dark-mode-text-color: var(--primary-txtcolor);

  --shadow-color: #00000000;

  --hover2-bgcolor: var(--gray-800);
  --label-transaction-background: var(--secondary-bgcolor);
  --label-transaction-border: var(--orange-100);

  .top-bar {
    border-bottom: 1px solid var(--border-color);
  }

  .side-menu {
    border-right: 1px solid var(--border-color);
  }

  /*#app .app-container main:last-child {
    border-top: 1px solid var(--border-color);
  }*/
}

// secondary bgcolor
